body{
    background-image: linear-gradient(to left, #12797ec2,#12797ec2 ) !important;

}
/* .mainLoader{
    display: none;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
} */
.navbaar{
    color: #12787e !important;
    border-bottom: 3px solid #12787e;
    box-shadow: 2px 3px 5px rgb(233, 233, 233);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    flex-direction: row;
}

.logo{
    margin: 1px 0px;
    color:#12787e !important;
    font-weight: bolder;
}
.navbaar ul{
    margin: auto;
    padding: 0px;
}
.navbaar li{
    display: inline-block !important;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 680px) {
    .navbaar li{
        padding: 2px;
    }
    .navbaar ul{
    margin: 2px auto 2px auto ;

    }
    .chatBg{
        height: 85vh !important;
    }
  }
.chatBg{
    /* background-color: white; */
    /* margin-top: 14vh; */
    padding: 10px;
    height: 90vh;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.ifNoChat,
.chatArea,
.messages,
.friends,
.profile{
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    text-align: center;
    color: #0a4c50;




}

.ifNoChat{
    height: 70vh !important;
    display: none;
    align-items: center !important;
    justify-content: center   !important;
    flex-direction: column !important;
    color: #0a4c50;
    /* display: none !important; */
}
.chatArea{    
    height: 70vh !important;
    display: none;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column !important;
}
.messages{
    height: 70vh !important;
    display: flex;
    /* align-items: flex !important; */
    justify-content: flex-start !important;
    flex-direction: column !important;
}
.friends{
    height: 70vh !important;
    display: none;
    /* align-items: flex !important; */
    justify-content: flex-start  !important;
    flex-direction: column !important;
}
.profile{
    height: 70vh !important;
    display: none;
    align-items: center !important;
    justify-content: center   !important;
    flex-direction: column !important;
}
.profileList{
    display: flex;
    padding: 0px;
    list-style: none;
}
.profileList{
    display: inline-block;
}

.signOut{
    font-size: medium !important;
}
.ifNoChat h2, .ifNoChat h3, .ifNoChat button {
    padding: 2px 15px;
    margin:10px auto !important;
}
.ifNoChat img{
margin-bottom:8vh !important;
}
.welcomeChat{
    background-color: rgb(235, 235, 235);
    margin-left:10px !important;
    margin-right:10px !important;
    border-radius: 10px;
    font-weight: 600;
}


.userImage{
    border-radius: 100%;
    border: 1px solid rgb(7, 163, 7);
}
.chatHeader{
    color: rgb(7, 163, 7); 
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid grey;
}
.chatting{
    margin: 5px 0px;
    height: 60vh;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
}
.chatting ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}
.chatSnip{
    /* border: 1px solid grey; */
    padding: 6px 9px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 2%;
    max-width: 55%;
    /* display: inline-block; */
    line-height:1.3em;
}
.chatSnip:hover{
    cursor: default;
}
.me, .frnd{
    /* width: 100% !important; */
    align-items: flex-end;
    /* margin-top: auto; */
    /* border: 1px solid black; */
}
.items:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    border-radius: 5px 0px 5px 0px;
}
.me{
    text-align: right;
}
.meBg{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 0px 10px 0px;
}
.frndBg{
    background-color: rgb(196, 255, 188);
    border-radius: 0px 10px 0px 10px;
}
.frnd{
    text-align: left;
}
.time{
    font-size: 9px;
    color: rgb(121, 121, 121);
    padding: 2px 0px 2px 32px;
    display: inline-block;
}
.typeMessage{
    background-color: rgb(238, 238, 238) !important;
    color: rgb(17, 17, 17) !important;
    text-align: left !important;
    box-shadow: none !important;
    border-radius: 5px 0px 0px 5px !important;
    border:none !important;
    padding: 10px 10px !important;
}
.typeMessage:hover,
.typeMessage:active{
    cursor: text !important;
    box-shadow: none !important;
    background-color: rgb(233, 233, 233) !important;
}

.btnSend{
    border-radius: 0px 5px 5px 0px !important;
    border: none !important;
    background-color:#12797e !important;
    color: whitesmoke !important;
    padding: 10px!important;
}
.btnSend:hover,
.btnSend:active{
    box-shadow: none !important;
    background-color: #12797e !important;
    color: whitesmoke !important;
}

.typingArea{
    display: flex;
    margin: 5px 0px 10px 0px;
}
.typingArea input[type="text"]{
    flex:1 1 auto
}
/* - - - - -  Friends List - - - - - -  */
.mesgesList{
    padding: 0px;
    height: 70vh;
    scroll-behavior: smooth;
    overflow: scroll;
    display: inline-block;
}
.mesgesList li{
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
    /* align-items: center; */
    padding: 4px 10px !important;
    margin: 2px;
}
.mesgesList li:hover, .mesgesList li:active{
    background-color: rgb(233, 233, 233);
    /* cursor: pointer; */
    border-radius: 10px 5px;
    cursor: pointer;
}
.frndsList{
    /* list-style: none; */
    padding: 0px;
    height: 70vh;
    scroll-behavior: smooth;
    overflow: scroll;
}
.frndsList li{
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
    /* align-items: center; */
    padding: 4px 10px !important;
    margin: 2px;

}
.frndsList li:hover, .frndsList li:active{
    background-color: rgb(233, 233, 233);
    /* cursor: pointer; */
    border-radius: 10px 5px;
}
.searchFrnd{
    background-image: url('../../icons/search.jpg');
    background-repeat: no-repeat;
    background-position:center left;
    background-position-x: 5px;
    padding: 5px 30px !important;
    background-size:20px;
    box-shadow: none !important;
}
.userName{
    font-weight: bold;
    margin: 0px;
}
.userName1{
    font-weight: bold;
    margin: 0px;
}
.userName:hover, 
.userName:active{
    cursor: pointer;
    text-decoration: underline;
    color:#007f86 ;
}
.mesgIcon{
    margin: auto 0px;
    padding: 2px 5px;
    background-color: #12797e;
    border-radius: 5px 10px;
    color: whitesmoke;
}
.icon{
    margin: auto 0px;
    padding: 2px 5px;
    background-color: #12797e;
    border-radius: 5px 10px;
    color: whitesmoke;
}
.mesgIcon:hover, .mesgIcon:active{
    color: #12797e;
    background-color:  rgb(235, 235, 235);
    border: 1px solid #12797e;
    cursor: pointer;
    
}

.lastMessage{
    color: rgb(66, 66, 66);
}
.user-images{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.user-images-popup{
    border-radius: 50%;
    width: 85px;
    height: 85px;
}
::-webkit-scrollbar{
    display: none;    
}

.loader {
    /* display: block !important; */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #159299;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: 10px auto;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

