body{
    background-image: linear-gradient(to left, rgb(108, 204, 108), rgb(195, 252, 157),rgb(192, 251, 212)) !important;

}
.navbaar{
    color: #12787e !important;
    border-bottom: 3px solid #12787e;
    box-shadow: 2px 3px 3px rgb(141, 140, 140);
    background-color: #ffffff;
    /* place-content: center center; */
    text-align: center;

}
.navigation{

}
.logo{
    margin: 1px 0px;
}
.navbaar ul{
    /* border: 1px solid black; */
    margin: 10px auto 2px auto ;
    padding: 0px !important;
}
.navbaar li{
    display: inline-block !important;
    margin: 0px;
    padding: 5px 10px;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 680px) {
    .navbaar li{
        padding: 2px;
    }
    .navbaar ul{
    margin: 2px auto 2px auto ;

    }
  }
.chatBg{
    /* background-color: white; */
    margin-top: 14vh;
    padding: 10px;
    display: grid !important;
}
.chatArea{
    background-color: rgb(253, 253, 253);
    /* border: 1px solid #12787e; */
    border-radius: 5px;
}
.userImage{
    border-radius: 50%;
    border: 1px solid rgb(7, 163, 7);
}
.chatHeader{
    color: rgb(7, 163, 7); 
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid grey;
}
.chatting{
    margin: 5px auto;
    max-height: 65vh;
    overflow-x: scroll;
    /* overflow-y: hidden; */
}
.chatting ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}
.chatSnip{
    /* border: 1px solid grey; */
    padding: 6px 9px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 2%;
    max-width: 55%;
    display: inline-block;
    line-height:1.3em;
}
.chatSnip:hover{
    cursor: default;
}
.me, .frnd{
    /* width: 100% !important; */
    flex:0 0 auto;
    /* border: 1px solid black; */
}
.navigation li:hover{
    background-color: rgb(196, 255, 188);
    cursor: pointer;
}
.me{
    text-align: right;
}
.meBg{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 0px 10px 0px;
}
.frndBg{
    background-color: rgb(196, 255, 188);
    border-radius: 0px 10px 0px 10px;
}
.frnd{
    text-align: left;
}
.time{
    font-size: 9px;
    color: rgb(121, 121, 121);
    padding: 2px 0px 2px 32px;
    display: inline-block;
}
.typeMessage{
    color: rgb(17, 17, 17) !important;
    width: 80%;
    text-align: left !important;
}
.btnSend{
    width: 18%;
}
.typeMessage:hover,
.typeMessage:active{
    background-color: transparent !important;
    border:1px solid rgb(9, 206, 58) !important;
    cursor: text !important;
    color: rgb(17, 17, 17) !important;
}
.typingArea{
    margin: 5px auto 10px auto;
}

::-webkit-scrollbar{
    display: none;    
}